                    <div class="col-md-12 panel-warning">
                      <div class="content-box-header panel-heading">
                        <div class="panel-title ">Formulaire de creation de compte</div>
                      </div>
                      <div class="content-box-large box-with-header">
                        <div class="form-group">

                                                <form class="" action="index.html" method="post">
                                                  <input class="form-control" placeholder=" Nom" type="text"><br/>
                                                <input class="form-control" placeholder=" Prenom" list="list" type="text"><br/>
                                                <datalist id="list">
                                                  <option value="Alexandra"></option>
                                                  <option value="Alice"></option>
                                                  <option value="Anastasia"></option>
                                                  <option value="Avelina"></option>
                                                  <option value="Basilia"></option>
                                                  <option value="Beatrice"></option>
                                                  <option value="Cassandra"></option>
                                                  <option value="Cecil"></option>
                                                  <option value="Clemencia"></option>
                                                  <option value="Desiderata"></option>
                                                  <option value="Dionisia"></option>
                                                  <option value="Edith"></option>
                                                  <option value="Eleanora"></option>
                                                  <option value="Elizabeth"></option>
                                                  <option value="Emma"></option>
                                                  <option value="Felicia"></option>
                                                  <option value="Florence"></option>
                                                  <option value="Galiana"></option>
                                                  <option value="Grecia"></option>
                                                  <option value="Helen"></option>
                                                  <option value="Helewisa"></option>
                                                  <option value="Idonea"></option>
                                                  <option value="Isabel"></option>
                                                  <option value="Joan"></option>
                                                  <option value="Juliana"></option>
                                                  <option value="Karla"></option>
                                                  <option value="Karyn"></option>
                                                  <option value="Kate"></option>
                                                  <option value="Lakisha"></option>
                                                  <option value="Lana"></option>
                                                  <option value="Laura"></option>
                                                  <option value="Leona"></option>
                                                  <option value="Mandy"></option>
                                                  <option value="Margaret"></option>
                                                  <option value="Maria"></option>
                                                  <option value="Nanacy"></option>
                                                  <option value="Nicole"></option>
                                                  <option value="Olga"></option>
                                                  <option value="Pamela"></option>
                                                  <option value="Patricia"></option>
                                                  <option value="Qiana"></option>
                                                  <option value="Rachel"></option>
                                                  <option value="Ramona"></option>
                                                  <option value="Samantha"></option>
                                                  <option value="Sandra"></option>
                                                  <option value="Tanya"></option>
                                                  <option value="Teresa"></option>
                                                  <option value="Ursula"></option>
                                                  <option value="Valerie"></option>
                                                  <option value="Veronica"></option>
                                                  <option value="Wilma"></option>
                                                  <option value="Yasmin"></option>
                                                  <option value="Zelma"></option>
                                                </datalist>
                                              <input class="form-control" placeholder="Numero de compte Leaf Bank" type="text"><br/>
                                              <input class="form-control" placeholder="Depot initial en $" type="text"><br/>
                                              <input class="form-control" placeholder="Code secret" type="text"><br/>
                                              <input class="form-control" placeholder="Numero de telephone 1" type="number"><br/>
                                              <input class="form-control" placeholder="Numero de telephone 2" type="number"><br/>
                                              <input class="form-control" placeholder="Nationalite" type="text"><br/>
                                              <input class="form-control" placeholder="Code secret du compte" type="text"><br/>
                                                <button class="btn btn-info btn-lg">Valider</button>
                                                </form>

                                              <br /><br />
                                             </div>
                    </div>
                  </div>
