
  <section id="portfolio" class="page-section section appear clearfix secPad">
       <div class="container">

           <div class="heading text-center">
               <!-- Heading -->
               <h2>virement</h2>
           </div>
       </div>
       <div _ngcontent-c0="" class="row">
           <router-outlet _ngcontent-c0=""> </router-outlet>
           <div _ngcontent-c5="" class="col-md-12 panel-warning">
               <div _ngcontent-c5="" class="content-box-header panel-heading" style="background-color: #b22222;">
                   <div _ngcontent-c5="" class="panel-title " style=" color:white;">Formulaire de virement</div>
               </div>
               <div _ngcontent-c5="" class="content-box-large box-with-header">
                   <div _ngcontent-c5="" class="form-group">

                       <form _ngcontent-c5="" action="index.html" class="ng-untouched ng-pristine ng-valid" method="post" novalidate="">

                           <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-valid" name="numeroExp" placeholder="Numero de compte de l expediteur" type="text" ng-reflect-name="numeroExp"><br _ngcontent-c5="">
                               <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-valid" name="numeroRec" placeholder="Numero de compte du recepeur" type="text" ng-reflect-name="numeroRec"><br _ngcontent-c5="">
                                   <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-valid" name="montant" placeholder="Montant du versement" type="text" ng-reflect-name="montant"><br _ngcontent-c5="">
                                       <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-valid" name="code" placeholder="Code secret de l'expediteur" type="password" ng-reflect-name="code"><br _ngcontent-c5="">

                                           <button _ngcontent-c5="" class="btn btn-info btn-lg">Valider</button>
                                           </form>

                       <br _ngcontent-c5=""><br _ngcontent-c5="">
                   </div>
               </div>
           </div>
              <br _ngcontent-c0=""><br _ngcontent-c0="">
       </div>
   </section>
