<div class="panel-options" style="width:88%;height:200px;">
  <a href="/gestionclient" data-rel="collapse" style="font-size: 17px; color: white;"><i class="glyphicon glyphicon-refresh"></i>Actualiser</a>
<br/>
<br/>
<div class="col-md-12 panel-warning">
  <div class="content-box-header panel-heading" style="background-color: #000; color:white;">
    <div class="panel-title ">New vs Returning Visitors</div>


  </div>
  <div class="content-box-large box-with-header">
    <p>
      Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.
    </p>

  <br /><br />
  <p>
    Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.
  </p>

<br /><br />

</div>
</div>

<div class="col-md-12 panel-warning">
  <div class="content-box-header panel-heading" style="background-color: #000; color:white;">
    <div class="panel-title ">New vs Returning Visitors</div>


  </div>
  <div class="content-box-large box-with-header">
    <p>
      Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.
    </p>

  <br /><br />
  <p>
    Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.
  </p>

<br /><br />

</div>
</div>
<div class="col-md-12 panel-warning">
  <div class="content-box-header panel-heading" style="background-color: #000; color:white;">
    <div class="panel-title ">New vs Returning Visitors</div>


  </div>
  <div class="content-box-large box-with-header">
    <p>
      Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.
    </p>

  <br /><br />
  <p>
    Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.
  </p>

<br /><br />

</div>
</div>
</div>
