<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><b>ma banque</b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="mainNav">
                        <li class=""><a href="/" class="scroll-link">acceuil</a></li>
                        <li class=""><a routerLink="/employee" class="scroll-link">employee</a></li>
                        <li class=""><a routerLink="/compte" class="scroll-link">compte</a></li>
                        <li class=""><a routerLink ="/transaction" class="scroll-link">transaction</a></li>
                        <li class=""><a routerLink="/virement" class="scroll-link">virement</a></li>
                         <li class=""><a routerLink="/retrait" class="scroll-link">retrait </a></li>
                         <li class=""><a routerLink="/contact" class="scroll-link">contactez nous  </a></li>                    </ul>
                </div>

                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>

                      <router-outlet> </router-outlet>	<br /><br />
