<div class="col-md-10">
  <div class="content-box-header panel-heading" style="background-color: #000; color:white;">
  <div class="panel-title">Ecrire un Email</div>


</div>
  <div class="content-box-large">
    <div class="panel-body">
        <textarea id="tinymce_basic" type="text" (keyup)="messageKey($event)" style="width:98%;height:200px;" placeholder="Saisissez votre texte ici" ></textarea>
        <br/>
        <br/>
            <br/>
          <button class="btn btn-info btn-lg" (click)="getMessage()">Envoyer</button>
    </div>
  </div>
  <div class="content-box-large">
    <div *ngIf="messge">
    <span>  {{messge}} message enreigistre  </span>
    </div>
    </div>
</div>
