
  <section id="home">
        <div class="banner-container">
            <img src="assets/images/banner-bg.jpg" alt="banner">
            <div class="container banner-content">
                <div id="da-slider" class="da-slider" style="height: 640px; background-position: 0% 0%;">
                    <div class="da-slide da-slide-toleft">
                        <h2></h2>
                        <p>bienvenue </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide da-slide-toleft">
                        <h2></h2>
                        <p>sur le site de votre banque </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide da-slide-toleft">
                        <h2></h2>
                        <p>nous vous offront le meilleur </p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide da-slide-fromright da-slide-current">
                        <h2></h2>
                        <p></p>
                        <div class="da-img"></div>
                    </div>
				<!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                <nav class="da-dots"><span class=""></span><span class=""></span><span class=""></span><span class="da-dots-current"></span></nav></div>
            </div>
        </div>
    </section>
