
  <section id="retrait" class="page-section secPad">
        <div class="container">

            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2>RETRAIT</h2>
                </div>
            </div>
            <div _ngcontent-c0="" class="row">
                <router-outlet _ngcontent-c0=""> </router-outlet>
                <div _ngcontent-c4="" class="col-md-12 panel-warning">
                    <div _ngcontent-c4="" class="content-box-header panel-heading" style="background-color: #b22222; color:white;">
                        <div _ngcontent-c4="" class="panel-title " style=" color:white;">Formulaire de retrait</div>
                    </div>
                    <div _ngcontent-c4="" class="content-box-large box-with-header">
                        <div _ngcontent-c4="" class="form-group">

                            <form _ngcontent-c4="" action="index.html" class="ng-untouched ng-pristine ng-valid" method="post" novalidate="">

                                <input _ngcontent-c4="" class="form-control" placeholder="Numero de compte " type="text"><br _ngcontent-c4="">
                                    <input _ngcontent-c4="" class="form-control" placeholder="Montant du retrait" type="text"><br _ngcontent-c4="">
                                        <input _ngcontent-c4="" class="form-control" placeholder="Code secret" type="text"><br _ngcontent-c4="">

                                            <button _ngcontent-c4="" class="btn btn-info btn-lg">Valider</button>
                                            </form>

                            <br _ngcontent-c4=""><br _ngcontent-c4="">
                        </div>
                    </div>
                </div>
                   <br _ngcontent-c0=""><br _ngcontent-c0="">
            </div>
        </div>

        <!--/.container-->
    </section>
